# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# mac 
.DS_STORE